
button {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white
}

input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

img {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px
}

label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-right: 10px;
    display: inline-block;
}

select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

option {
    color: #4CAF50;
    background-color: white;
}

option:hover {
    background-color: #4CAF50;
    color: white;
}

option::selection{
    background-color: #4CAF50;
    color: white;
}

#homePage{
    display: flex;
    text-align: left;
}